body {
    margin:auto;
    padding: 5% 5% 5% 5%;
    width: 50%;
    line-height: 150%;
    border: 1px solid LightGrey;
    font-family:Open Sans, sans-serif;
    font-size: 120%;    
    min-width: 780px;
    max-width: 1260px;   
    word-wrap: break-word;
    word-break: break-all;        
}
body.mobile{
    border: 1px solid LightGrey;
    font-size: 100%;
    width: 90%;
    min-width:0px; 
    word-wrap: break-word;
    word-break: break-all;    
}

H1 {
    
}

H2 {
    font-size: 100%;
    border-bottom: 2px LightGrey solid;
    line-height: 150%;
    color: #930ee4;
}


H3 {
    font-size: 95%;
    border-bottom: 1px LightGrey solid;
    line-height: 150%;
}


H4 {
    line-height: 150%;
}


li {
    margin-left: 10px;
}


blockquote {
    border-left: 4px lightgrey solid;
    padding-left: 5px;
    margin-left: 20px;
}


pre {
    font-size: 100%;
    border: solid 1px lightgrey;
    background-color: #F4F4F4;
    padding: 5px;
    line-height: 130%;
    margin-left: 10px;
    width: 95%;
    overflow: auto;
}



code {
    font-size: 90%;
}


a {
    text-decoration: none;    
    cursor: crosshair;
    border-bottom: 1px dashed orange;    
    color: #930ee4;
}


a:hover {
	background-color: LightGrey;
}
a:link{
       color: #930ee4;
}

img {
    margin-left: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 30px;
    margin-bottom: 30px;
}


